@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Tajawal', sans-serif;
  background-color: #f8f9fa;
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar improvements */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input, textarea {
  font-family: 'Tajawal', sans-serif !important;
}

/* Dark mode overrides */
.dark body {
  background-color: #1a1a1a;
  color: #ffffff;
}
